NEXT_PUBLIC_API_URL=https://vse.impresjapr.pl/api
NEXTAUTH_URL=https://vse.impresjapr.pl
NEXTAUTH_SECRET=CHANGE_ME_VERY_LONG_RANDOM_SECRET
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
